<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="/assets/smemail.png" alt="Brand" width="27px">
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      {% for page in site.pages %}
        {% if page.title %}
          <li>
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
